## Лабораторная работа по курсу «Основы Python»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дан список:

In [1]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

1 Вариант решения

In [5]:
res=0
for el in list_01:
    if 10<el<100 or 200<el<500:
        res +=el
res

1291

2 Вариант решения

In [178]:
sum(x for x in list_01 if 10 < x < 100 or 200 < x < 500)

1291

#### Задача 2

Дана строка:

In [8]:
some_string = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

1 Вариант решения (не универсальный, с обходим апострофа перед W)

In [199]:
def func_w(a):
    list_w=[]
    for el in a.replace("'", "").split():
        if el[0]=='w' or el[0]=='W':
            list_w.append(el)
    return list_w

In [200]:
func_w(some_string)

['written', 'winners.', 'When', 'winner', 'writes', 'which', 'What']

2 Вариант решения (универсальный, правильный)

In [201]:
import re

In [180]:
def print_words (letter):
    pattern = fr'\b{letter}\w*'
    list_words = re.findall(pattern, some_string, re.I)
    print(list_words)

In [181]:
print_words('W')

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

#### Задача 3

Напишите функцию, которая генерирует случайную последовательность из 6 цифр, причем в этой последовательности должна быть как минимум одна цифра 3. Позиция 3 определяться случайным образом. Например: "456379" или "033456".

1 Вариант решения (Сложный. В комбинации будет чаще сразу несколько троек, так как для каждой позиции ведется случайный подбор из 3 и любого иного числа)

In [202]:
import random as r

In [290]:
def func_random_6():
    i=0
    res = ''
    while i<6:
        if bool(r.getrandbits(1)):   # Любая позиция в комбинации может быть тройкой, случайно для каждой позиции определяем чем заполнять, тройкой или любой иной"
            res +=str(r.randint(0,9))
        else:
            res +='3'
        i +=1

    if '3' not in res:  #Если в полученной комбинаци нет тройки, функция перезапускается и будет работать пока не подберет комбинацию в которой хотя бы одна тройка есть
        print('тройки нет')
        i=0
        func_random_6()
    return(res)

func_random_6()

'263753'

2 Вариант решения

In [293]:
def generate_numbers():
    number = ''
    while '3' not in number:
        list_numbers = list()
        for i in range(6):
            num = r.randint(0,9)
            list_numbers.append(str(num))
        number = ''.join(list_numbers)
    print(number)

generate_numbers()

364710

3 Вариант решения (сворачиваем 2 вариант)

In [327]:
def generate_numbers_2():
    number = ''
    while '3' not in number:
        number = ''.join([str(r.randint(0, 9)) for x in range(6)])
    print(number)
    
generate_numbers_2()

327825

#### Задача 4

Данные студентов представлены в виде списка списков:

In [295]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["4014", "Потапов", "Дмитрий", "Станиславович", "14.02.2012", "БСТ161"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [296]:
students_dict = dict()
for i in students:
    students_dict[i[0]] = i[1:]

In [297]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Напишите функцию, которая принимает номер группы и выводит пронумерованный и упорядоченный по алфавиту список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [298]:
def print_group_list(group):
    group_list = list()
    for x in students_dict.values():
        if x[-1] == group:
            group_list.append(f'{x[0]} {x[1]} {x[2]}')
    for i, x in enumerate(sorted(group_list)):
        print(i+1,x)

In [299]:
print_group_list('БСТ161')

1 Антонов Антон Игоревич
2 Боков Игорь Харитонович
3 Потапов Дмитрий Станиславович
4 Степанова Наталья Александровна

#### Задача 5

Создайте класс Student, который создает объекты с данными о студентах (как в задаче 4). Класс должен иметь следующие методы: add_to_dict (добавляет объект в словарь из задачи 4), update_dict (обновляет запись о студенте в словаре из задачи 4), change_group (изменяет номер группы студента), change_id (изменяет номер студента) и print_date (выводит на экран данные студента).

In [300]:
class Student:
    def __init__(self, s_id, last_name, first_name, patronomic_name, date, group):
        self.id = s_id
        self.last_name = last_name
        self.first_name = first_name
        self.patronomic_name = patronomic_name
        self.date = date
        self.group = group
            
    def add_to_dict(self):
        if self.id in students_dict.keys():
            print('Студент с таким номером уже существует')
        else:
            students_dict[self.id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]
               
    def update_dict(self):
        students_dict[self.id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]
        
    def change_group(self, new_group):
        self.group = new_group
        
    def change_id(self, new_id):
        self.id = new_id
        
    def print_data(self):
        print(f'{self.id} {self.last_name} {self.first_name} {self.patronomic_name} {self.date} {self.group}')

1. Создайте объект класса, добавьте его в словарь. Обновленный словарь выведете на экран.

In [301]:
volkova = Student('0001', 'Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100')

In [302]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

In [303]:
volkova.print_data()

0001 Волкова Галина Сергеевна 18.12.2022 БСТ100

In [311]:
volkova.add_to_dict()

Студент с таким номером уже существует

In [312]:
volkova.change_id('0002')

In [313]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100']}

2. Измените номер группы студентки Волковой на 'БСТ161' и выведите обновленный список группы.

In [314]:
volkova.change_group('БСТ161')

In [315]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100']}

In [316]:
volkova.update_dict()

In [317]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ161']}

#### Задача 6

Дана матрица matrix. Напишите код, который будет транспонировать её (то есть, делать из строк столбцы) в maytix_t:

matrix_t = [
    [0, 6, 3, 4, 5],
    [1, 2, 3, 6, 7],
    [2, 2, 3, 7, 3],
    [4, 1, 3, 1, 4],
    [8, 9, 3, 2, 0]
]

In [323]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [324]:
matrix_t = [list(x) for x in zip(*matrix)]

In [325]:
matrix_t

[[0, 6, 3, 4, 5],
 [1, 2, 3, 6, 7],
 [2, 2, 3, 7, 3],
 [4, 1, 3, 1, 4],
 [8, 9, 3, 2, 0]]